body {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.btns-section {
    border: 2px solid red;
}

.table-section {
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 1fr 6fr
}

.crowns-section {
    border: solid gold
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
}

.unit {
    border: 3px solid black;
    height: 50px;
}

.arrow-section {
    display: grid;
}

img {
    height: 50px;
    width: 100%;
    align-self: center;
}

.arrow {
    border: 3px solid transparent;
    height: 50px;
}

.empty {
    border: 3px solid transparent;
    height: 50px;
}