body {
    background-color: #ff3ace
    ;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.btns-section {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-area: 2 / 2;
}

.table-section {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr
}

.crowns-section {

}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    position: relative;
}

.unit {
    border: 2px solid black;
    height: 60px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

img {
    height: 60px;
    width: 100%;
    align-self: center;
}

.arrow {
    height: 60px;
    border: 2px solid transparent;
}

.sol {
    border: 2px solid transparent;
    height: 60px;
    position: center;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.button{
    height: 50%;
    width: 70%;
    border: 1px solid black;
    border-radius: 50%;
}

#brown{
    margin-bottom: 2.5px;
    align-self: end;
    background-color: brown;
    border: 5px solid brown;
}

#gold{
    margin-bottom: 2.5px;
    align-self: end;
    background-color: gold;
    border: 5px solid gold;
}

#purple{
    margin-bottom: 2.5px;
    align-self: end;
    background-color: purple;
    border: 5px solid purple;
}

#green{
    margin-top: 2.5px;
    align-self: start;
    background-color: green;
    border: 5px solid green;
}

#red{
    margin-top: 2.5px;
    align-self: start;
    background-color: red;
    border: 5px solid red;
}

#blue{
    margin-top: 2.5px;
    align-self: start;
    background-color: blue;
    border: 5px solid blue;
}

button {
    align-self: flex-start;
    margin-left: 0px;
    width: 150%;
    background-color: rgb(96, 22, 166);
    color: white;
}

#delete {
    grid-area: 3 / 3;
    height: 40px;
    font-size: 20px;
}

#check {
    height: 40px;
    font-size: 20px;
}

.fb{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center
}

